[Unit]
Description=web-api

[Service]
Type=simple
User=root
Group=root
ExecStartPre=/bin/sleep 3
ExecStart=/etc/api/main -config=/etc/api/api_config.json
Restart=always

[Install]
WantedBy=multi-user.target
