[Unit]
Description=web-api

[Service]
Type=simple
User=root
Group=root
ExecStartPre=/bin/sleep 15
ExecStart=/etc/api/main
Restart=always

[Install]
WantedBy=multi-user.target
